
*{
        margin: 0;
        padding: 0;
}
   body{
	   background-image:url(background.jpg);
	   background-size:cover;
       font-family: 'Rubik', sans-serif ;
}

.container{
    padding-top: 2px;
}

.form-structure{
	background-color: rgba(255, 179, 102,0.5);
	margin: 0 auto;
	margin-top:8px;
	padding-left:17px;
	border:2px solid rgba(255, 242, 230,0.3);
    width:580px;
    height: 330px; 
    border-radius: 15px;
   font-family: 'Rubik', sans-serif;
}
    
.form-text{
        font-family: 'Rubik', sans-serif;
        color: #fff;
        padding-left: 5px;
        padding-right: 5px;
    }
   
.form-text:hover{
	box-shadow:inset o -4px rgba(0,0,0,0.4);
}


h2 {
	color: #ffffff;
    padding-top: 8%;
}
    h3, h5 {
	color: #ffffff;
    font-family: 'Rubik', sans-serif;
    opacity: 0.7; 
    padding-bottom: 30%;
        margin-top: 0;
   
}
.navdiv ul{
    width: 100%;
    height: 98px;
    background: transparent;
    line-height: 80px;
    display: inline
   
}
.navdiv ul a{
        text-decoration: none;
        color: #fff;
        padding: 20px;
    }
    
.navdiv ul li{
        list-style-type: circle;
        display: inline-block;
        margin-left: auto;
    }
.navdiv ul li navform{
    padding-right: 50px;
   margin: 100px 40% 24px 60%;
    float: right;
}
.navdiv ul li:hover{
       background:#8fb0bf; 
       transition: all 0.40s;
    }  
 .navdiv ul .logo{
        float: left;
        padding-left: 40px;
        padding-top: 15px;        
    }
    .mail-logo{
       float: none;
        margin-left: 75px;      
    }
.navform{
    display: inline-grid;
    border: 1px solid;
    border-color: rgba(255, 242, 230,0.3) ;
    height: 25px;
    background-color: #f58e22 ;
    border-top-left-radius:7px ;
    border-top-right-radius: 7px;
    color: #fff !important;
    padding-right: 40px;
}

.loginnav{
    width: 80px;
    background-color: #f58e22 ;
    height: 27px;
    border: 1px solid rgba(255, 242, 230,0.5) ;
    border-top-left-radius:7px ;
    border-top-right-radius: 7px;
    padding:7px 18px;  
}
    .img{
        background: #fff;
    }
.input_img {
    position:absolute;
    bottom:8px; 
    left:10px; 
    width:10px; 
    height:10px;
}
.btnn{
        width: 200px;
        height: 30px;
        border: 1px solid rgba(255, 242, 230,0.5) ;
        background-color: #f58e22;
        border-radius:8px; 
        padding:5px 18px;   
 }



.inner_form{
    display: inline-grid;
    border: 1px solid;
    border-color: aliceblue;
    height: 25px;
    border-top-left-radius:7px ;
    border-top-right-radius: 7px;
    padding-left: 5px;
   
    
}

 .id-forms {
    position: absolute;
    top: 47%;
    color: black; 
    
}

.id-forms1 {
    position: absolute;
    top: 42%;
    color: black; 

} 

.inner_form{
    background-image: url(../images/SignUp-16.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 30px;

}

#date_of_birth{
    background-image: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 23px;
}


